// ? MEDIA
@media (max-width: 1400px) 
    .order
        .order__form
            max-width: 700px
        .order__bg
            width: calc(100% - 700px)
        .order__text
            width: 100%
        
@media (max-width: 992px) 
    .new
        .new__item
            width: 100%
    .form-open
        .form-open-text
            font-size: 18px

@media (max-width: 768px) 
    .logo
        .logo__label
            width: min-content

@media (max-width: 600px) 
    .new__item
        width: 100%
    .header__nav-wrapper
        justify-content: start
        padding-inline-start: 15px
    .logo__label
        width: min-content
    .order
        .order__text
            font-size: 18px
    .footer
        .footer__v2
            padding: 1.5em 15px 6em

@media (max-width: 600px) 
    .form-open
        .form-open-text
            font-size: 16px