@media (max-width: 992px) 
    .new
        .new__item
            width: 100%
    .order
        .order__bg
            width: 30%
            img
                width: 300%
                height: 120%
        .order__form
            width: 70%

@media (max-width: 768px) 
    .logo
        .logo__label
            width: min-content
    .order
        .order__form
            width: 100%
        .order__bg
            display: none
    .button__order
        width: 250px 
        height: 60px

@media (max-width: 576px) 
    .new__item
        width: 100%
    .header__nav-wrapper
        justify-content: start
        padding-inline-start: 15px
    .logo__label
        width: min-content
    .order
        .order__text
            width: 100%