.promo
    width: 100%
    background-color: #ffffff
    padding: 3px 10px
    &__modal
        display: none
        &-active
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: center
        &:target
            display: flex


